<!--The content below is only a placeholder and can be replaced.-->




  <mat-list >
      <mat-list-item style="height: 250px" *ngFor="let hotel of hotels">


          <mat-card  style ="margin-bottom:5px; height: 80%; width: 90%" >
              <mat-card-content style="height: 90%;" >
              

                  <div style="height: 90%;" flex fxLayout="row" fxLayout.lt-sm="column" >
                      <div fxFlex="29" style="margin-right:5px " > 
                          <img  style="height: 100%;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                      </div>
                      <div  fxFlex="50" style="margin-right:5px; text-align:left" >  
                          <span style="color:blue"><strong>{{hotel.name}}</strong></span>  
                        <br>
                        {{hotel.stars}}
                        <br>
                        {{hotel.amenities}}
                      </div>
                      <div fxFlex="21" style="margin-right:5px; text-align:left"  >  
                          <span style="color:gray">Precio por noche por habitación</span>  
                          <br>
                          <span style="color:#ff8000">ARS </span>  <span style="color:#ff8000"><strong>{{hotel.price | number}}</strong></span>
                          <br>
                          <button type="button" >Ver Hotel</button> 

                      </div>
                  </div>
              </mat-card-content>
           </mat-card>
              

      </mat-list-item>
      
    </mat-list>
    

      
    


  <router-outlet></router-outlet>
  