<!--The content below is only a placeholder and can be replaced.-->




  <mat-list >
      <mat-list-item style="height: 250px" *ngFor="let hotel of hotels">


          <mat-card  style ="margin-bottom:5px; height: 80%; width: 90%" >
              <mat-card-content style="height: 90%;" >
              

                  <div style="height: 90%;" flex fxLayout="row" fxLayout.lt-sm="column" >
                      <div fxFlex="29" style="margin-right:10px " > 
                          <img  style="height: 100%;" src="{{'../../../assets/images/'+ hotel.image}}" alt="Photo of Hotel">
                      </div>
                      <div  fxFlex="50" style="margin-right:5px; text-align:left" >  
                          <span style="color:blue"><strong>{{hotel.name}}</strong></span>  
                        <br>
                        <div [ngSwitch]="hotel.stars">
                          <div *ngSwitchCase=1> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"></div>
                          <div *ngSwitchCase=2> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> </div>
                          <div *ngSwitchCase=3> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"></div>
                          <div *ngSwitchCase=4> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"></div>
                          <div *ngSwitchCase=5> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"> <img style="height: 15px;" src="../../../assets/icons/filters/star.svg"></div>
                        </div>
                        <br>
                        <div *ngFor="let amenitie of hotel.amenities">
                          <div [ngSwitch]="amenitie">
                            <div *ngSwitchCase="'coffe-maker'"> <img style="height: 15px;" src="../../../assets/icons/amenities/coffe-maker.svg"></div>
                            <div *ngSwitchCase="'safety-box'"> <img style="height: 15px;" src="../../../assets/icons/amenities/safety-box.svg"></div>
                            <div *ngSwitchCase="'bathrobes'"> <img style="height: 15px;" src="../../../assets/icons/amenities/bathrobes.svg"></div>
                            <div *ngSwitchCase="'restaurant'"> <img style="height: 15px;" src="../../../assets/icons/amenities/restaurant.svg"></div>
                            <div *ngSwitchCase="'garden'"> <img style="height: 15px;" src="../../../assets/icons/amenities/garden.svg"></div>
                            <div *ngSwitchCase="'children-club'"> <img style="height: 15px;" src="../../../assets/icons/amenities/children-club.svg"></div>
                            <div *ngSwitchCase="'business-center'"> <img style="height: 15px;" src="../../../assets/icons/amenities/business-center.svg"></div>
                            <div *ngSwitchCase="'beach-pool-facilities'"> <img style="height: 15px;" src="../../../assets/icons/amenities/beach-pool-facilities.svg"></div>
                            <div *ngSwitchCase="'kitchen-facilities'"> <img style="height: 15px;" src="../../../assets/icons/amenities/kitchen-facilities.svg"></div>
                            <div *ngSwitchCase="'deep-soaking-bathtub'"> <img style="height: 15px;" src="../../../assets/icons/amenities/deep-soaking-bathtub.svg"></div>
                          </div>
                        </div>
                      </div>
                      <div fxFlex="21" style="margin-right:5px; text-align:left"  >  
                          <span style="color:gray">Precio por noche por habitación</span>  
                          <br>
                          <span style="color:#ff8000">ARS </span>  <span style="color:#ff8000"><strong>{{hotel.price | number}}</strong></span>
                          <br>
                          <button type="button" >Ver Hotel</button> 

                      </div>
                  </div>
              </mat-card-content>
           </mat-card>
              

      </mat-list-item>
      
    </mat-list>
    




  <router-outlet></router-outlet>
  